#parse("/array.java.vm")
#if ($packageName)
package $packageName;
#end##
// the above block of code is important for the runner to capture the glue and plugins

import java.io.IOException;
import java.util.List;

import org.junit.runner.RunWith;
import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(features = {"$featureFile"} // the path of the feature files
		,glue= #stringArray($glue)
		,plugin = #stringArray($plugins)
		
		
		
)


public class $className {
	

}
